
.container{
  background: #e7ecef; 
  margin: auto;
  width: 100%;
  padding-bottom: 25px;
}

.header{
    height: 50px;
    margin-top: 0px;
    background: white;
    padding-left: 480px;
    padding-top: 10px;
    float: center;
    
}

h1{
    color: brown;
    display: inline;
    align-items: center;
    padding-left: 100px;
    align-items: center;
    float: center;
}

.frame{
    width: 400px;
    margin: auto;
    margin-top: 15px;
    display: block;
    background:white;
    height: 320px;
}
.frame-header{
    width: 400px;
    display: flex;
    height: 25px;
}

.info-photo{
    padding-left: 5px;
    color:#bc6c25
}
.Photo-number {
    padding-top: 3px;
    padding-left:250px;
    color:#274c77
}

.frame-body{
    width: 400px;
    height: 250px;
}

img{
    width: 400px;
    height: 250px;
}

.frame-footer{
    width: 400px;
    height: 28px;
    padding-left: 5px;
    padding-right: 5px;
    color:#734B1A
   
}